@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-orbitron: "Orbitron", monospace;
}

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Orbitron", monospace;
  background-color: #f9fafb;
}
